<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница /about</title>
</head>
<body>
    <h1>Страница about</h1>
    <p>Просмотров: <span id="viewCount"></span></p>
    <a href="./">Ссылка на страницу /</a>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
          const viewCountElement = document.getElementById('viewCount');
  
          const fetchViewCount = () => {
              fetch('/viewCount')
                  .then(response => response.json())
                  .then(data => {
                      viewCountElement.textContent = data.count;
                  })
                  .catch(error => console.error('Error fetching view count:', error));
          };
  
          fetchViewCount();
      });
    </script>
</body>
</html>